@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Verdana', sans-serif;
  background: #0f0e0e;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: #bddcff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 3px white solid;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 10px 0;
  position: relative;
  display: inline-block;
}

h2::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  margin: 6px auto 0;
  border-radius: 2px;
}


.top_cont {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  transition: all 0.3s ease-in-out;
}

select {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  transition: all 0.3s ease-in-out;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-family: inherit;
  font-size: 1rem;
}

select {
  background-color: #fff;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
}
  
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.9);
}

button:active {
  transform: scale(0.95);
}


.entry {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.entry:last-child {
  border-bottom: none;
}

small {
  color: #555;
}
